@use '../../utils/colors/colors' as *;
@use "../../utils/breakpoint" as *;

.project-item {
    display: flex;
    flex-direction: column;
    margin: 20px;
    border-radius: 10px;
}

.item-image {
    width: 300px;
    height: 300px;

    @include mq("mobile-sm") {
        width: 180px;
        height: 180px;
    }

    @include mq("mobile-lg") {
        width: 200px;
        height: 200px;
    }

    @include mq("tablet") {
        width: 250px;
        height: 250px;
    }

    @include mq("desktop") {
        width: 300px;
        height: 300px;
    }
}

.item-desc-wrapper {
    display: flex;
    background-color: $green;
    justify-content: flex-start;
    justify-items: flex-start;
}

.item-description {
    margin: 0;
    padding-left: 5px;
    height: 60px;
}
