@use '../../utils/colors/colors' as *;

.project-item {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.item-image {
    width: 300px;
    height: 300px;
}

.item-desc-wrapper {
    display: flex;
    background-color: $green;
    justify-content: flex-start;
    justify-items: flex-start;
}

.item-description {
    margin: 0;
    padding-left: 5px;
    height: 60px;
}
