@use "../../utils/breakpoint" as *;

.project-item-wrapper {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    height: 400px;
    align-items: center;
    .project-name {
        flex-wrap: wrap;
        max-width: 10rem;
    }
}

.project-item-image {
    width: 20rem;
    aspect-ratio: 1;
    object-fit: cover;
    cursor: pointer;
    border-radius: 10px;

    @include mq("mobile-sm") {
        width: 10rem;
    }

    @include mq("mobile-lg") {
        width: 10rem;
    }

    @include mq("tablet") {
        width: 15rem;
    }

    @include mq("desktop") {
        width: 20rem;
    }
}
